.move-preview{
    line-height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #8d91973b;
    display: grid;
    grid-template-columns: 30% 30% 1fr 1fr;
    .from{
        grid-column:1;
        text-align: start;
    }
    .to{
        grid-column:2;
        text-align: start;
        margin-left: 20px;
    }
    .amount{
        grid-column:3;
        text-align: center;
    }
    .at{
        grid-column:4;
        text-align: end;
    }
}

@media screen and (max-width:500px) {
    .move-preview{
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size:12px;
        line-height: 3em;

        .to{
            margin-left: 0px;
            // text-align: center;
        }
        
        .amount{
            text-align: start;
            margin-left: 15px;
        }
    }
}



