.move-preview{
    line-height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #8d91973b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .from{
        grid-column:1;
        text-align: start;
    }
    .to{
        grid-column:2;
        text-align: start;
        margin-left: 20px;
    }
    .amount{
        grid-column:3;
        text-align: center;
    }
    .at{
        grid-column:4;
        text-align: end;
    }
}




