<section class="move-container flex column">
    <h3>Your Recent Transactions:</h3>
    <div class="moves-list">
        <div *ngIf="!moves.length; else moveList">
            <div className="no-moves">(No moves to show)</div>
        </div>
        <ng-template #moveList>
            <ul class="clean-list">
                <li *ngFor="let move of moves; Index as idx; trackBy:trackByFn">
                    <move-preview [move]="move"></move-preview>
                </li>
            </ul>
        </ng-template>
    </div>
</section>