:host{
    width: 100%;
    // display:flex;
    // justify-content: center;
    //  width:fit-content;
}
.user-list-cards{
    width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-template-columns: repeat(auto-fill, 370px);
    gap: 20px;
    place-content: center;

  
}