.transfer-fund{

    margin: 20px 0px 40px 0px;
    
input{
    line-height: 100%;
}
button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

h4{
    margin: 0;
    margin-inline-end: 10px;
    padding-top: 5px;
}
}