
.site-block {
    margin-bottom: rem(20px);
}

// Aspect ratios

// .ratio-16-9 { @include aspect-ratio(100, 56); }

// .ratio-square { @include aspect-ratio(100, 100); }

// .ratio-card { @include aspect-ratio(100, 80); }

// .ratio-poster { @include aspect-ratio(100, 150); }


/* GLOBAL */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.grow {
    flex-grow: 1;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clean-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.full-height{
    height: 100%;
}
