.main-layout {
    display: grid;
    grid-template-columns:minmax(2rem,1fr) minmax(auto,1200px) minmax( 2rem,1fr);
    place-items:center;
    > * {
        grid-column: 2;
    }

    > .full {
        grid-column: 1 / -1;
    }

}

.layout-w-contacts{
    display:grid;
    grid-template-columns:2rem 4fr 4rem 1fr;
    >* :not(.contact-list){
        grid-column: 2;
    }

    .contact-list{
        grid-column:4;
    }
}



