<section class="main-layout">
    <h1>About Mister Bitcoin</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt voluptatibus quisquam totam doloremque
        illum distinctio unde enim vel! Quibusdam reprehenderit sequi beatae alias ipsum accusamus natus labore ratione
        laborum.
        Laborum quasi delectus illo omnis molestias doloremque incidunt ex minima amet dicta,
        pariatur rem ipsam recusandae!
    </p>
    
    <p> Sunt rerum unde, at porro dolorum debitis voluptatibus doloremque id ea vel, atque
        itaque sapiente eius deleniti neque repellendus modi officiis maiores assumenda repudiandae hic molestiae
        recusandae. Illum quaerat sed animi minus quidem voluptatem sit ratione, voluptates deleniti vel et ducimus pariatur
        doloribus nulla minima autem, aperiam libero enim odio nobis! Laudantium necessitatibus nulla totam.
    </p>

</section>