
.user-preview{
    padding:20px ;
    border-radius: 10px;
    // background-color: #96b0dd3b;
    border: 1px solid #96b0dd3b;
    // width:370px;

    img{
        width:100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 30px;
        background-color:rgb(22,11,26);
    }

    h2{
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    p{
        font-size: 11px;
    }
    .add-contact-btn{
        margin-top: 5px;
        background-color: #96b0dd3b;
        font-size: 12px;
        font-weight: 200;
        width: fit-content;
    }
    }