<!-- <section class="login"> -->

  <span *ngIf="isLoading"></span>
  <!-- <span *ngIf="errorMsg">{{errorMsg}}</span>     -->
    <form *ngIf="!user" #loginForm="ngForm" (submit)="login()" >
          <div class="login-page">
            <h2 class="login-page-headlines">Login</h2>
          <form (ngSubmit)="login()" class="login-form">
            <input required name="username" autocomplete="off" type="text" [(ngModel)]="loginCredentials.username" placeholder="Username" class="form-control"/>
            <br/>
            <input required name="password" autocomplete="off" type="password" [(ngModel)]="loginCredentials.password" placeholder="Password" class="form-control"/>
            <br/>
            <div class="login-btns flex column center">
              <button class="special-btn btn login-btn">Login</button>
              <button (click)="useDemoUser()" class="guest-login special-btn btn"> Login as a guest</button>
            </div>
          </form>
          <div class="middle-page flex">
            <div class="login-signup-supperline">
              <hr />
            </div>
            <h3>OR</h3>
            <div class="login-signup-supperline">
              <hr />
            </div>
          </div>
          <form (ngSubmit)="signUp()" class="signup-form">
            <h2 class="login-page-headlines">Signup</h2>
            <input required name="fullname" autocomplete="off" type="text" [(ngModel)]="signupCredentials.fullname" placeholder="Name" class="form-control"/>
            <br />
            <input required  name="username" autocomplete="off" type="text" [(ngModel)]="signupCredentials.username" placeholder="Username" class="form-control"/>
            <br />
            <input required name="password" autocomplete="off" type="password" [(ngModel)]="signupCredentials.password" placeholder="Password" class="form-control"/>
            <br />
            <button class="special-btn btn">Signup</button>
          </form>
        </div>
      </form>
      <!-- <ng-template #logout> -->
        <section *ngIf="user">
          <button type="button" (click)="logout()">Logout</button>
        </section>
      <!-- </ng-template> -->
<!-- </section> -->