.details-container{
    padding:3% ;
    border-radius: 10px;
    background-color: #96b0dd3b;
    padding-bottom:40px;
    width:100%;

    .contact-details{
        padding-top: 20px;
        width:100%; 

        img{
            width:170px;
            border-radius: 50%;
            margin-bottom: 20px;
            background-color:rgb(22,11,26);
        }
       
    }

    .action-btns>*{
        margin-left:12px
    }


    .caroussel-arrow{
        background-color: #ffffff79;
        color: #2e1837d1;
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
    
}

@media screen and (max-width:500px) {
    :host{
        width:100%;
    }
    
}

.details-container>*{
width:100%
}



