<section class="homepage flex column">
        <h1 class="align-start">Welcome to Mister Bitcoin!</h1>
        <div class="homepage-container flex space-between">
            <div class="flex column space-between">
            <div *ngIf="!isLoggedin" >
                    <h2>Explore Mister Bitcoin freely with a Demo User</h2>
                    <p>No registration needed</p>
            </div>
            <div *ngIf="isLoggedin && user.username!=='Demo User'">
                    <h2>Hello {{user.username}}!</h2>
                    <p>Explore Mister Bitcoin</p>
            </div>
            <div *ngIf="isLoggedin && user.username==='Demo User'" >
                    <h2>You are currently loggedin with a Demo User</h2>
                    <p>Explore Mister Bitcoin freely</p>
            </div>
            <img class="narrow-view center" src="../../../assets/imgs/homepage.svg" alt="">
            <button (click)="login()">Explore MrBitcoin!</button>
        </div>
            <img class="wide-view" src="../../../assets/imgs/homepage.svg" alt="">
        </div>
</section>