:host{
    height:90vh;
}
.homepage{
    // min-height: 80vh;
    height: 100%;
    padding:14px;
    h1{
        font-size: 45px;
    }
    .homepage-container{
        height: 100%;
        p{
            font-size: 18px;
        }
        h2{
            color:rgb(108,99,255);
        }
        button{
            font-size: 150%;
            margin-bottom: 30px;
            width: fit-content;
        }
    }
    img{
        margin-right: 30px;
        max-width:50%;
        min-width:350px;
        object-fit: fill;
    }
    
}

.narrow-view{
    display: none;
}

@media screen and (max-width:780px) {
    .narrow-view{
        display: block;
    }
    .wide-view{
        display: none;
    }
    
    img{
        max-width: 100% !important;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    button{
        align-self: center;
    }
    
}

@media screen and (max-width:500px) {
    h1{
        font-size: 36px !important;
    }

    button{
        margin-top: 20px;
    }

    h2{
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }


}