<section class="homepage main-layout">
    <h1>Welcome to Mister Bitcoin!</h1>
    <div class="homepage-container flex space-between">
        <div *ngIf="!isLoggedin" class="txt">
            <div>
                <h2>Explore Mister Bitcoin freely with a Demo User</h2>
                <p>No registration needed</p>
            </div>
            <div class="flex center">
                <button (click)="login()">Explore MrBitcoin!</button>
            </div>
        </div>
        <div *ngIf="isLoggedin && user.username!=='Demo User'" class="txt">
            <div>
                <h2>Hello {{user.username}}!</h2>
                <p>Explore Mister Bitcoin</p>
            </div>
            <div class="flex center">
                <button (click)="login()">Explore MrBitcoin!</button>
            </div>
        </div>
        <div *ngIf="isLoggedin && user.username==='Demo User'" class="txt">
            <div>
                <h2>You are currently loggedin with a Demo User</h2>
                <p>Explore Mister Bitcoin freely</p>
            </div>
            <div class="flex center">
                <button (click)="login()">Explore MrBitcoin!</button>
            </div>
        </div>
        <img src="../../../assets/imgs/homepage.svg" alt="">
    </div>
</section>