@import '../../../assets/styles/setup/mixins';

  .contact-preview {
  @include contact-list-item;
    background-color: #37373790;
    cursor: pointer;
    img {
      @include inner-list-item-el;
      background-color: none;
    }
  }