@import '../../../assets/styles/setup/mixins';

  .contact-preview {
  @include contact-list-item;
    // background-color: #37373790;
    background-image:linear-gradient(to right, #37373790 0%, #302f4488 75%, #110816 100% ) ;
    cursor: pointer;
    img {
      @include inner-list-item-el;
      background-color: none;
    }
  }